.player {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#cover {
  max-width: 350px;
  border-radius: 1.5rem;
}

.infomaniak-player {
  width: 310px;
  height: 74px;
  border-width: 0;
  border-radius: 0.5rem;
}

#player-image {
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .infomaniak-player {
    width: 505px;
    height: 144px;
    border-radius: 1rem;
  }
}
