* {
  margin: 0;
  padding: 0;
  scroll-behavior: none;
}

body {
  font-family: monospace;
  color: white;
  /* background: #4a4a4a; */
  background: black;
  position: relative;
  height: 100vh;
  width: 100vw;
}
